<div class="container">
  <div class="row-fluid">
    <div class="span11">
      <div class="hero-unit offset1">
	<h1 class="pagination-centered">{{title}}</h1>
	<br/>
	<h2 class="pagination-centered">{{subtitle}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span11">
      <div class="hero-unit offset1">
	<p class="front">
	  {{title}} is a sample <a href="http://nodejs.org">node.js</a>
	  application. It demonstrates how to setup a typical web service
	  using node's built-in services and several popular packages.
	</p>

	<p class="front">
	  By itself it does very little; but by adding your own code to
	  the {{title}} application, you can make it do what you want.
	  Documentation is part of the
	  <a href="https://github.com/OhMeadhbh/kickstart">source
	  distribution at Github</a>.
	</p>

	<p class="front">
	  {{title}} is preconfigured to allow logins from Twitter&reg; and
	  Facebook&reg;. Visit the <a href="/register">registration page</a>
	  to setup a new account or the <a href="/login">login page</a> if
	  you've already registered.
	</p>

	<noscript>
	  <p class="front">
	    Before you can use {{title}}, you'll have to make sure
	    JavaScript is enabled. Visit the
	    <a href="/about/javascript">javascript section</a> in our
	    online help system to see how to do this.
	  </p>
	</noscript>
      </div>
    </div>
  </div>
</div>
